{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion Tareas API",
    "version": "1.0.0",
    "description": "Consulta tareas del d\u00eda desde la base de datos de Notion"
  },
  "servers": [
    {
      "url": "https://api.notion.com/v1"
    }
  ],
  "paths": {
    "/databases/1f863cd61526801aa60ffd847a78e97b/query": {
      "post": {
        "operationId": "getTareasDeHoy",
        "summary": "Obtener tareas del d\u00eda desde Notion",
        "description": "Consulta todas las tareas cuya 'Fecha Vencimiento' sea hoy",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "property": {
                        "type": "string",
                        "example": "Fecha Vencimiento"
                      },
                      "date": {
                        "type": "object",
                        "properties": {
                          "equals": {
                            "type": "string",
                            "format": "date",
                            "example": "2025-06-22"
                          }
                        },
                        "required": [
                          "equals"
                        ]
                      }
                    },
                    "required": [
                      "property",
                      "date"
                    ]
                  }
                },
                "required": [
                  "filter"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de tareas de hoy",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}